{:paths ["src" "resources"]
 :deps {aero/aero {:mvn/version "1.1.6"}
        amazonica/amazonica {:mvn/version "0.3.161"
                             :exclusions [com.amazonaws/aws-java-sdk
                                          com.amazonaws/amazon-kinesis-client
                                          com.amazonaws/dynamodb-streams-kinesis-adapter
                                          joda-time/joda-time
                                          com.taoensso/nippy]}
        com.amazonaws/aws-java-sdk-secretsmanager {:mvn/version "1.12.132"}
        metosin/jsonista {:mvn/version "0.3.4"}
        org.clojure/clojure {:mvn/version "1.10.1"}}
 :aliases
 {:test {:extra-paths ["test"]}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :release
  {:extra-deps {applied-science/deps-library {:mvn/version "0.4.0"}}
   :main-opts ["-m" "applied-science.deps-library"]}}}
